@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Pacifico&display=swap");

:root {
    --brown: #6c3428;
    --coffee: #ba704f;
    --lightblue: #cee6f3;
    --white: #ffffff;
    --beige: #dfa878;
    --khaki: #ecbb91;
    --gambia: #e99954;

    --card-border-width: 0px;
}

.vonton {
    color: var(--beige);
    border: 1px solid var(--beige);
    border-radius: 0.375rem;
    background-color: transparent;
}

.vonton:hover {
    color: var(--white);
    background-color: var(--beige);
    border-color: var(--beige);
}

.adopt-modal{
    color: var(--gambia);
    border: 1px solid var(--gambia);
    border-radius: 0.375rem;
    background-color: transparent;
}

.adopt-modal:hover {
    color: var(--white);
    background-color: var(--gambia);
    border-color: var(--gambia);
}

.close-modal{
    color:var(--coffee);
    border: 1px solid var(--coffee);
    border-radius: 0.375rem;
    background-color: transparent;
}

.close-modal:hover {
    color: var(--white);
    background-color: var(--coffee);
    border-color: var(--coffee);
}

/* .cardvonton {
    color: var(--coffee);
    border: 1px solid var(--coffee);
    border-radius: 0.375rem;
    background-color: transparent;
    padding-top: 5px;
    align-self: self-end;
}

.cardvonton:hover {
    color: var(--white);
    background-color: var(--coffee);
    border-color: var(--coffee);
} */

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.gochi-hand-regular {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.main-logo {
    transform: rotate(20deg);
    margin-right: 6px;
    transition: all ease-in-out 300ms;
}

.main-logo:hover {
    transform: rotate(0deg);
}

.our-name {
    text-align: center;
}

.von-card{
    border: 0px;
}
